html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.sec-one{
    background-color: #1F2937;
   
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    display: inline-block;
}

.flex-container{
    display: flex;
   
}

.navbar{
    display: flex;
    justify-content: flex-end;
    list-style: none;

}


ul.navbar li a{ 
    font-size: 18PX;
    color: #E5E7EB;
    padding-left: 30px;
    text-decoration: none;
    
}

li a{
    list-style: none;
}

